{% extends '@riki34Game/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { 'callback': 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('vendor/js/pixi.min.js') }}"></script>

    <script src="{{ asset('vendor/js/angular.min.js') }}"></script>
    <script src="{{ asset('vendor/js/angular-route.min.js') }}"></script>
    <script src="{{ asset('vendor/js/angular-animate.min.js') }}"></script>
    <script src="{{ asset('vendor/js/angular-translate.js') }}"></script>
    <script src="{{ asset('vendor/js/angular-translate-loader-static-files.js') }}"></script>
    {{ clank_client() }}

    <!-- ------------- Modules ------------- -->
    <script src="{{ asset('game/game.global.js') }}"></script>
    <script src="{{ asset('game/global/game.global.consts.js') }}"></script>

    <script src="{{ asset('game/game.spinner.js') }}"></script>
    <script src="{{ asset('game/spinner/game.spinner.service.js') }}"></script>

    <script src="{{ asset('game/game.validation.js') }}"></script>
    <script src="{{ asset('game/validation/game.validation.form_validation.directive.js') }}"></script>

    <script src="{{ asset('game/game.model.js') }}"></script>
    <script src="{{ asset('game/model/game.model.sprite.js') }}"></script>
    <script src="{{ asset('game/model/game.model.char.js') }}"></script>

    <script src="{{ asset('game/game.query.js') }}"></script>
    <script src="{{ asset('game/game.system.js') }}"></script>

    <script src="{{ asset('game/game.js') }}"></script>
    <script src="{{ asset('game/game/game.pixi.directive.js') }}"></script>

    <script src="{{ asset('game/game.location_editor.js') }}"></script>

    <script src="{{ asset('game/game.core.js') }}"></script>

    <script src="{{ asset('game/query/game.query.execute.service.js') }}"></script>
    <script src="{{ asset('game/query/game.query.level.loader.js') }}"></script>
    <script src="{{ asset('game/query/game.query.char.service.js') }}"></script>
    <script src="{{ asset('game/query/game.query.file_reader.js') }}"></script>
    <script src="{{ asset('game/query/game.query.resources.js') }}"></script>
    <script src="{{ asset('game/query/game.query.resource_loader.js') }}"></script>
    <script src="{{ asset('game/core/game.core.clank.service.js') }}"></script>
    <script src="{{ asset('game/game/game.canvas.engine.service.js') }}"></script>
    <script src="{{ asset('game/location_editor/game.location_editor.service.js') }}"></script>

    <script src="{{ asset('game/system/game.system.global.controller.js') }}"></script>
    <script src="{{ asset('game/system/game.system.game.controller.js') }}"></script>
    <script src="{{ asset('game/core/game.core.controller.js') }}"></script>
    <script src="{{ asset('game/system/game.system.new_char.controller.js') }}"></script>
    <script src="{{ asset('game/spinner/game.spinner.controller.js') }}"></script>
    <script src="{{ asset('game/system/game.system.level.controller.js') }}"></script>
    <script src="{{ asset('game/location_editor/game.location_editor.controller.js') }}"></script>

    <script src="{{ asset('game/system/game.system.config.js') }}"></script>
    <script src="{{ asset('game/core/game.core.config.js') }}"></script>

    <base href="/" />
{% endblock %}

{% block left_nav %}
    <nav id="left-side-bar" class="navmenu navmenu-default navmenu-fixed-left offcanvas">
        <h4 class="page-header" align="center">Menu</h4>
        <ul class="nav navmenu-nav">
            <li class="active">
                <a ng-href="/">
                    {{ 'Menu' | trans }}
                </a>
            </li>

            <li>
                <a ng-href="/forum">
                    {{ 'Forum' | trans }}
                </a>
            </li>

            <li>
                <a ng-href="/test/1">
                    {{ 'Test' | trans }}
                </a>
            </li>

            <li>
                <a href="{{ path('logout') }}" target="_self">
                    {{ 'Logout' | trans }}
                </a>
            </li>
        </ul>
    </nav>
    <button type="button" class="btn btn-default pull-left" data-toggle="offcanvas" data-target="#left-side-bar" data-canvas="body">
        {{ 'Menu' | trans }}
    </button>
{% endblock %}

{% block body %}
    <div ng-controller="GlobalController">
        <div ng-controller="SpinnerController as spinner" ng-show="spinner.spinner" class="show-hide">
            <div class="spinner">
                <h1 class="spinner-text-block">Loading <span ng-show="spinner.showProgress" ng-bind="spinner.progress + '%'"></span>...</h1>
            </div>
        </div>

        <div id="view-container" ng-view>Enable javascript in your browser</div>
    </div>
{% endblock %}